@model InformaticaPecas.Models.Peca

@{
    ViewBag.Title = "Edit";
}

<h2>Editar Peça</h2>


@using (Html.BeginForm("Edit", "Pecas", FormMethod.Post, new { id = "formCrud" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        @Html.LabelFor(model => model.Produto, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Produto, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Produto, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Valor, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Valor, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Valor, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TipoId, "TipoId", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("TipoId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.TipoId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.FornecedorId, "FornecedorId", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("FornecedorId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.FornecedorId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" value="Salvar" class="btn btn-success" />
        </div>
    </div>
</div>
    <p>
        @Html.ActionLink("Voltar", "Index")
    </p>
}

@Scripts.Render("~/bundles/jqueryval")

<script src="~/Scripts/Projeto/EnviarFormulario.js"></script>